header{
    background-color: bisque;
    padding : 2%;
    font-size: 32px;
    text-align: center;
    width: 100%;
}

body {
    margin: 0px;
}

nav{
    width: 100%;
    height: 30px;
}