header{
    background-color: #dda15e;
    padding : 20px;
    font-size: 40px;
    text-align: center;
    width: auto;
}

.secheader{
    background-color: #dda15e;
    padding : 10px;
    font-size: 30px;
    text-align: center;
    width: auto;
}

body {
    margin: 0px;
    background-color: #c2c5aa;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    padding: 10px;
    background-color: #fefae0;
}

button{
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #606c38;
    color: #ffffff;
    border: solid #283618 2px;
}

button:hover{
    width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #414833;
    color: #ffffff;
    border: solid #283618 2px;
}


section{
    margin: 37px;
    padding: 40px;
    width: 30%;
    text-align: center;
    color: #ffffff;
    background-color: #656d4a;
    border-radius: 40px;
    border: 2px solid #283618;
}

footer{
    background-color: #333d29;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    color: #b6ad90;
}

a:link{
    color: #fefae0;
}

a:visited{
    color: #fefae0;
}

.backgroundhomepage{
    margin-top: 0px;
    height: auto;
    background-color: #606c38;
}

.imgsection{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    aspect-ratio: 1;

}