

.title{
    font-family: Arial;
    border-bottom: 3px solid grey;
    width: 100%;
    color: rgb(122, 122, 122);
}

.subtitle{
    display: inline;
    font-family: Arial;
    border-bottom: 3px solid grey;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.movedtext{
    margin: left 40px;
}

.text{
    font-family: Arial;
    color: black;
    size: 11;
    margin-top: 10px;
}


.container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid rgb(207, 207, 207);
    background-color: #f5f5f5;
}

.imgbdr{
    border: 1px solid rgb(92, 92, 92);
    margin-right: 10px;
}


